{% extends 'dashboard/dashboard.html'%}
{% block maincontent %}
<div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
      </ol>

      {% if success %}
      <div class="alert alert-success">
          {{success.success}}
      </div>
    {% endif %}

    {% if errors.exist %}
      <div class="alert alert-danger">
          {{errors.exist}}
      </div>
    {% endif %}


      
            <div class="modal-body">
            <form action="" method="POST">
              {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Category Name</label>
                  <input type="text" name="category_name" class="form-control" id="exampleInputEmail1" value="{{data.category_name}}">
                    <p class="text-danger">{{errors.category_name}}</p>
                    
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Category Code</label>
                    <input type="number" name="category_code" class="form-control" id="exampleInputEmail1" value="{{data.category_code}}">
                        <p class="text-danger">{{errors.category_code}}</p>
                        <p class="text-danger">{{errors.category_code_type}}</p>
                </div>
      
                <div class="form-group">
                  <label for="exampleInputEmail1">Category Description</label>
                  <textarea class="form-control" name="category_description" id="exampleInputEmail1" >{{data.category_description}}</textarea>
                        <p class="text-danger">{{errors.category_description}}</p>
                
                </div>
      
                <div class="form-group">
                  <label for="exampleInputEmail1">Category Status</label>
                          <select class="form-control" name="category_status">
                              <option>{{data.category_status}}</option>
                              <option>Active</option>
                              <option>Inactive</option>
                          </select>
                </div>
      
            </div>
              <button type="submit" name="submit" class="btn btn-success">Save</button>
            </div>
          </div>
          </form>
        </div>
      </div>
{% endblock maincontent %}